@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d59d5b">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Our business provides Hospice Nursing Care the Lubbock, Tx area.
      Other services include, Medical Equipment, Training for Caregivers, Respite and Inpatient care,
      Continous Care Requiring Intense Intervention, Bereavement, Volunteer support, Therapists and Counseling,
      Social Work, Pastoral care, and Pre-Admission Consultation. We have skilled staff and provide emotional,
      spirital, and social support for family members. We treat the terminally ill 24 hours a day, seven days a week." />
    <title>@ViewData["Title"] - Bridge Hospice</title>
    <link rel="stylesheet" href="~/scss/bridgehospice.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
        <nav class="navbar navbar-expand-sm navbar-dark navbar-toggleable-sm bg-secondary border-bottom box-shadow mb-3 sticky-top" style="padding: 1px;">
            <div class="container">
                <a id="navBrand" class="pr-1 m-0 navbar-brand text-primary" href="~/">
                    <img src="~/favicon-32x32.png" style="width: 25px; height: 25px; margin-bottom: 4px; margin-right: 4px;" alt="Logo" />
                    Bridge Hospice
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse text-white">
                    @{
                        var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                    }
                    @if (result.Success)
                    {
                        await Html.RenderPartialAsync("_LoginPartial");
                    }
                    else
                    {
                        throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
                            "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
                            $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
                    }
                </div>
            </div>
        </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
