@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>
        Please check your email to confirm your account. To get another confirmation email, <a asp-page="./Login">click here to log in</a> which will send a new confirmation email.
    </p>
}
